<b>Name: </b>
<p><%= @pizza.pretty_name() %></p>
<b>Order: </b>
<p><%= @pizza.quantity %> X <%= @pizza.topping%></p>

<a href="/pizzas/<%= @pizza.id%>/edit">Edit</a>


<form action = "/pizzas/<%= @pizza.id%>" method ="post">
  <input type="hidden" name="_method" value= "delete">
  <input type="submit" value="Delete">
</form>